torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
numpy==1.23.5
matplotlib==3.8.0
matplotlib-inline
music21==9.7.1
pathspec==0.11.2
tokenizers==0.21.1

# Additional dependency:
# Install abc2midi with Homebrew: brew install abcmidi

